<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="clo-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">grow your skill with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text order-md-0 order-1">
            <figure>
              <img src="images/about.svg" alt="growth">
            </figure>
          </div>
          <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-contrnt-center align-items-center flex-column">
            <h1>WE ARE THE PROFESSIONAL DEVEOLPER✌</h1>
            <p>Welcome to <span class="bold-style">Inno Tech</span>, your number one source for all things tech. 
            We're dedicated to giving you the best of work with a focus on 
            dependability, student learning, and innovation.</p>
            <button class="btn-style btn-primary">Read more</button>
          </div>
        </div>
    </div>
  </div>
</div>